/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts


$font-main: 'Poppins', sans-serif;

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$grey-dark: #4d4d4d;
$grey: #666;
$grey-light: #cec6c6;
$light: #e6e6e6;
$red: #f85959;
$red-light: #fdd3d3;
$blue: #2f89fc;
$sky: #78d5ef;
$blue-dark: #222831;
$blue-light: #f8faff;
$grey70: #b3b3b3;
$green: #8bc34a;
$green-dark: #6c943c;
$blue-green: #2ebdc4;
$pastel-green: #68e5b2;


// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 767;
$tablet: 1024;
$tablet-l: 1199;
$lap-small: 1250;
$lap-large: 1400;

