/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
input[type='text'],
input[type='email'] {
    outline: none;
    font-family: $font-main;
}

.banner__form-input {
    max-width: 343px;
    border: none;
    border-right: 1px solid $light;
    padding: 20px;
    width: 100%;

    @include mq($phone) {
      max-width: 250px;
      margin-top: 20px;
    }
}

.subscribe__form-input {
    max-width: 300px;
    width: 100%;
    padding: 17px 10px;
    border: 1px solid $white;
    background-color: transparent;
    text-transform: capitalize;

    &::placeholder {
        font-size: 16px;
        color: rgba($white, .7);
    
        @include mq($tablet-l) {
            font-size: 12px;
        }
    }
}

.sidebar__input {
    border: 1px solid $grey70;
    padding: 12px 10px;
    max-width: 208px;
    width: 100%;
    margin-bottom: 20px;

    &::placeholder {
        color: $grey-dark;
        font-size: 14px;
    }

    @include mq($tablet-l) { 
       max-width: 100%;
    }
}

label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: $font-main;
}

select {
    max-width: 343px;
    width: 100%;
    border: none;
    outline: none;

    @include mq($phone) {
        max-width: 250px;
    }
}

@include placeholder {
    font-size: 16px;
    color: $grey70;

    @include mq($tablet-l) {
        font-size: 12px;
    }
}